body {
    background-color: white;
    color: #757575;
     font-family: 'Roboto';
}

ul{
list-style: none;
}

a{
    text-decoration: none;
}

.logo-text{
    color:#2196F3 ;
}

.logo{
    color: #212121;
}
.logo:hover,
.logo:focus{
    cursor: pointer;
    color: #2196F3;
}

.link-site{
    color: #212121;
    cursor: pointer;
}

.link-site:hover,
.link-site:focus{
    color: #2196F3;
}

.link-contact{
    color: #757575;
}
.link-contact:hover,
.link-contact:focus{
    color: #2196F3;
}

/*Головний блок*/

.main-section{
    background-color: #2F303A;
}

.main-title{
    color: #FFFFFF;
}

.button-portfolio{
    background-color: #2196F3;
    cursor:pointer;
    border-radius: 5px;
}

.button-main{
    background-color: #2196F3;
}



.button-text{
    color: #FFFFFF;
}

/*Переваги*/

.advantage{
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
}
.advantage-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Чим ми займаємося*/
.work-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #212121;
}


/*Наша команда*/
.team-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
}
.name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}
.name-wirk{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Футер*/

.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

footer{
    background-color: #2F303A;
}

.adress-title{
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.adress-title:hover,
.adress-title:focus{
    color: #2196F3;
}

.logo-footer:hover,
.logo-footer:focus{
    cursor: pointer;
    color: #2196F3;
}

/* Портфоліо*/

.button-portfolio{
    background-color: #F5F4FA;
}

.button-portfolio:hover{
    background-color: #2196F3;
}

.button-text-portfolio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.button-text-portfolio:hover{
    color: #FFFFFF;
}

.projekt-portfolio{
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.projekt-type{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}