:root{
    --primary-text-colour:#757575;
    --secondary-text-colour: #212121;
    --button-background-colour:#2196F3 ;
    --secondary-button-colour: #FFFFFF;

}

body {
    background-color: white;
    font-family: 'Roboto';
    color:var(--primary-text-colour);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}


ul{
list-style: none;
}

a{
    text-decoration: none;
}

.logo-text{
    color:var(--button-background-colour) ;
}

.logo{
    color: var(--secondary-text-colour);
}
.logo:hover,
.logo:focus{
    cursor: pointer;
    color: #2196F3;
}

.link-site{
    color: #212121;
    cursor: pointer;
}

.link-site:hover,
.link-site:focus{
    color: #2196F3;
}

.link-contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
}
.link-contact:hover,
.link-contact:focus{
    color: var(--button-background-colour);
}

/*Головний блок*/

.main-section{
    background-color: #2F303A;
}

.main-title{
    color: var(--secondary-button-colour);
}

.button-portfolio{
    background-color: var(--button-colour);
    cursor:pointer;
    border-radius: 5px;
}

.button-main{
    background-color: var(--button-background-colour);
    cursor: pointer;
    border-radius: 5px ;
    color:var(--secondary-button-colour);
}



.button-text{
    color: var(--secondary-button-colour);
}

/*Переваги*/

.advantage{
    color: var(--secondary-text-colour);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
}
.advantage-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
}

/*Чим ми займаємося*/
.work-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: var(--secondary-text-colour);
}


/*Наша команда*/
.team-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: var(--secondary-text-colour);
}
.name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-colour);
}
.name-wirk{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
}

/*Футер*/

.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--secondary-button-colour);
}

footer{
    background-color: #2F303A;
}

.adress-title{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-button-colour);

}
.adress-title:hover,
.adress-title:focus{
    color: var(--button-background-colour);
}

.logo-footer:hover,
.logo-footer:focus{
    cursor: pointer;
    color: var(--button-background-colour);
}

/* Портфоліо*/

.button-portfolio{
    background-color: #F5F4FA;
}

.button-portfolio:hover{
    background-color: var(--button-background-colour);
    color: var(--secondary-button-colour);  
}



.projekt-portfolio{
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--secondary-text-colour);
}

.projekt-type{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
}